<html>
  <head>

  </head>

  <body>
      <h1 style="text-align: center">Hackher News Search</h1>
  <form #hnSearchForm="ngForm" (ngSubmit)="onSubmit(hnSearchForm.value)" >
    <div align="center" style="border:transparent">

      <input type="text" [(ngModel)]="inputData" name="inputData" id="search" placeholder="Search.." style="border-radius: 10px"/>
      <button type="submit" style="border-radius: 10px"><i class="fa fa-search"></i></button>

    </div>
  </form>

      <br/><br/><br/>

      <div class="container" width="80%"  >
        <p-dataTable [value]="hnSearchResult"  [rows]="5" [paginator]="true" [pageLinks]="5">
          <p-header>Search Result</p-header>
          <p-column field="author" header="author" data-value="author"></p-column>
          <p-column field="story_title" header="story_title"></p-column>
          <p-column field="story_url" header="story_url"></p-column>
        </p-dataTable>
      </div>
  </body>
</html>

<router-outlet></router-outlet>
